*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
}
nav{
    /* border: 2px solid black; */
    box-shadow: 5px 5px 5px rgba(1,3,1,0.5);
    position: sticky;
    top :0px;
     margin-bottom: 32px;
     background-color: white;
}
/* Navigation */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-menu{
   display: flex;
   margin: 15px;
   padding: 3px;

}
.hamburger img{
   display: none;
}
.nav-menu li{
   font-size: 24px;
   list-style: none;
   padding: 5px;
   margin: 3px;
   font-weight: 600;
   cursor: pointer;
}
.nav-menu li:hover{
   color: #149f39;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
}
.bars {
    font-size: 15px;
}
/* Hero Section */
 .hero{
   margin-top: 70px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
 }
 .herocontent{
   display: flex;
   flex-direction: column;
   gap: 17px;
 }
 .herocontent h1{
    font-size: 72px;
    font-weight: 300;
    line-height:1.2;
 }
 
 .tag{
    font-size: 19px;
    background-color: #149f39;
    padding-left:13px;
    color: white;
    align-self: flex-start;
 }
 button{
   font-size: 14px;
   font-weight: 600;
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
 }
 button:hover{
    opacity: 0.8;
    transition:  0.2s ease-in-out;
 }
 .explore_btn{
    background-color: #ffc066;
    align-self: flex-start;
 }
 @media(max-width:900px){
   .navigation{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .nav-menu{
      flex-wrap: wrap;
   }
    .hero{
        flex-direction: column;
    }
    .hero img{
        width: 24rem;
        justify-content: center;
        /* align-content: center; */
        align-items: center;
    }
    .herocontent{
        gap: 10px;
        padding: 10px;
    }
    .herocontent h1{
        font-size: 32px;
    }
 }
   @media(max-width:400px){
      .hero img{
         width: 20rem;
      }   
 }


